@import "../shared_styles/variables.scss";

.content-container {
  background-color: $white;
  max-width: 789px;
  width: 100%;
  .header-container {
    height: 192px;
    height: 100%;
    .scholarship-header {
      font-size: 64px;
      font-weight: 900;
      color: $black;
      text-align: center;
      letter-spacing: 3px;
      line-height: 96px;
      text-transform: uppercase;
      @media screen and (max-width: $sm) {
        font-size: 32px;
        line-height: 48px;
      }
    }
  }
  .excerpt-container {
    height: 136px;
    height: 100%;

    .scholarship-excerpt {
      font-size: 24px;
      font-weight: 400;
      color: $black;
      text-align: center;
      line-height: 48px;
      @media screen and (max-width: $sm) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
.info-container {
  position: absolute;
  height: 480px;
  max-width: 585px;
  width: 100%;
  @media screen and (max-width: $sm) {
    height: 720px;
    max-width: 330px;
    width: 100%;
  }
  .info-header {
    height: 32px;
    max-width: 586px;
    width: 100%;
    font-size: 24px;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    line-height: 32px;
  }
  .item-container {
    display: flex;
    align-items: center;
  }
  .item-title {
    font-size: 16px;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    line-height: 24px;
  }
  .item-content {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 24px;
    margin-bottom: 12px;
  }
  .info-link {
    color: #e40087;
    text-decoration-color: #e40087;
  }
}
