* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "BrandonText";
  line-height: 1.5em;
}
a {
  cursor: pointer;
  color: #000;
  font-weight: 600;
  text-underline-offset: 0.25em;
  text-decoration: underline #000;
  text-decoration-thickness: 1px;
  &:hover {
    color: #363738;
    text-decoration: underline #363738;
    text-decoration-thickness: 2px;
  }
}
