@import "../shared_styles/variables.scss";

.title {
  &--uppercase {
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: $weight-black;
  }
}
.ui-heading {
  display: block;
  line-height: 1.2em;
  margin-bottom: 0.6em;
  &.ui-heading--xs {
    font-weight: $weight-medium;
  }
  &.ui-heading--sm {
    font-size: 1.2rem;
    font-weight: $weight-bold;
    @media screen and (max-width: $sm) {
      font-size: 1.1rem;
    }
  }
  &.ui-heading--md {
    font-size: 1.6rem;
    font-weight: $weight-bold;
    @media screen and (max-width: $sm) {
      font-size: 1.2rem;
    }
  }
  &.ui-heading--lg {
    font-size: 2rem;
    font-weight: $weight-bold;
    @media screen and (max-width: $sm) {
      font-size: 1.3rem;
    }
  }
  &.ui-heading--xl {
    font-size: 2.4rem;
    font-weight: $weight-bold;
    @media screen and (max-width: $sm) {
      font-size: 1.8rem;
    }
  }
  &.ui-heading--2xl {
    font-size: 3rem;
    font-weight: $weight-black;
    @media screen and (max-width: $sm) {
      font-size: 2rem;
    }
  }
  &.ui-heading--3xl {
    font-size: 4rem;
    font-weight: $weight-black;
    @media screen and (max-width: $sm) {
      font-size: 3rem;
    }
  }
}
