// Brand Colours

$orange: #faa61a;
$blue: #00aef0;
$green: #8dc63f;
$lilac: #b781ca;
$pink: #ed61ba;
$black: #282828;
$gray: #363738;
$lightGrey: #b1b1b2;

// Widths

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
