@import "../shared_styles/variables.scss";

button {
  padding: 12px 15px;
  font-weight: $weight-bold;
  border: 2px solid transparent;
  border-radius: 7px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  &:hover {
    border-color: $black;
    cursor: pointer;
  }
  &:focus {
    outline: $black solid 2px;
  }
  &.button-primary {
    background: $pink;
  }
  &.button-secondary {
    background: $blue;
  }
  &.full {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
