@import "../shared_styles/variables.scss";

.tabs {
  .tablist {
    margin-bottom: 35px;
    position: relative;
    .tablist-base {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 2px;
      background-color: $blue;
    }
    .tab {
      font-size: 16px;
      border-radius: 8px 8px 0 0;
      border-bottom: solid $blue 2px;
      padding: 18px 24px;
      margin-right: 2px;
      background: white;
      box-shadow: none;
      -webkit-box-shadow: none;
      &:hover {
        border-color: $blue;
      }
      &.tab--active {
        background: $blue;
      }
      &:focus {
        outline: none;
        border-color: $black;
      }
    }
  }
  .tab-panel {
    display: none;
    &.tab-panel--active {
      display: block;
    }
  }
}
