@import "../shared_styles/variables.scss";

.hero {
  position: relative;
  display: grid;
  background: $black;

  &__header {
    display: grid;
    grid-area: 1/1;
    position: relative;
    place-items: center;
    z-index: 1;
    color: $white;
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;

    &.bottom {
      place-items: end center;
      padding-bottom: 50px;
    }

    h1 {
      text-shadow: -1px -1px 5px $black, 1px -1px 5px $black, -1px 1px 5px $black,
        1px 1px 5px $black;
      font-size: 2.25rem;
      line-height: 3rem;

      @media (min-width: $md) {
        font-size: 3.25rem;
        line-height: 4rem;
      }
      @media (min-width: $lg) {
        font-size: 4.25rem;
        line-height: 5rem;
      }

      &.font-larger {
        font-size: 3.25rem;
        @media (min-width: $md) {
          font-size: 4.25rem;
          line-height: 4rem;
        }
        @media (min-width: $lg) {
          font-size: 5.25rem;
          line-height: 5rem;
        }
      }

      &.font-white {
        text-shadow: -1px -1px 5px $black, 1px -1px 5px $black, -1px 1px 5px $black,
          1px 1px 5px $black;
        color: $white;
      }

      &.font-black {
        text-shadow: none;
        color: $black;
      }

      &.uppercase {
        text-transform: uppercase;
      }

      &.background {
        display: inline-block;
        padding: 2rem;
        background-color: $black;
      }
    }

    &__subtext {
      text-align: center;

      &.font-white {
        text-shadow: -1px -1px 5px $black, 1px -1px 5px $black, -1px 1px 5px $black,
          1px 1px 5px $black;
        color: $white;
      }

      &.font-black {
        text-shadow: none;
        color: $black;
      }
    }

    &__sublink {
      display: flex;
      justify-content: center;
      padding: 1.25rem 0rem;

      a {
        max-width: 500px;
      }
    }
  }

  &__content {
    max-width: $xl;
    padding: 25px;
  }

  img {
    grid-area: 1/1;
    width: 100%;
    object-fit: cover;
    //opacity: 0.8;
    height: 50vh;
    min-height: 640px;

    &.shallow {
      min-height: 350px;
      max-height: 350px;
    }

    &.default {
      min-height: 480px;
      max-height: 500px;
    }

    &.deep {
      min-height: 640px;
      max-height: 700px;

      @media screen and (max-width: $md) {
        min-height: 480px;
      }
    }
  }

  &__topGradient {
    &--white {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, $white 1%, rgba(251, 251, 251, 0) 25%);
    }

    &--black {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, $black 1%, rgba(0, 0, 0, 0) 25%);
    }
  }

  &__bottomGradient {
    &--white {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, $white 1%, $white 15%, rgba(251, 251, 251, 0) 60%);
    }

    &--black {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, $black 1%, $black 15%, rgba(0, 0, 0, 0) 60%);
    }
  }
}
