@import "../shared_styles/variables.scss";

.content-container {
  position: absolute;
  text-align: center;
  max-height: 655px;
  max-width: 1440px;
  width: 100%;
  @media screen and (max-width: $md) {
    max-width: 375px;
    width: 100%;
  }
  img {
    height: 655px;
    max-width: 1440px;
    width: 100%;
    @media screen and (max-width: $md) {
      max-width: 375px;
      width: 100%;
    }
  }
  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 992px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
    text-align: center;
    @media screen and (max-width: $md) {
      max-height: 578px;
      height: 100%;
      max-width: 330px;
      width: 100%;
    }
    .text-row {
      padding: 53px;
      @media screen and (max-width: $md) {
        padding: 17px;
      }
      .accommodation-header-container {
        width: 100%;
        margin-bottom: 16px;
        @media screen and (max-width: $md) {
          max-height: 96px;
          max-width: 300px;
          width: 100%;
          margin-bottom: 13px;
        }
        .accommodation-header {
          font-size: 32px;
          font-weight: 900;
          color: rgba(0, 0, 0, 1);
          text-align: center;
          letter-spacing: 3px;
          line-height: 48px;
          text-transform: uppercase;
          @media screen and (max-width: $md) {
            font-size: 24px;
            letter-spacing: 4px;
            line-height: 32px;
          }
        }
      }
      .accommodation-text-container {
        height: 168px;
        max-width: 785px;
        width: 100%;
        margin: auto;
        @media screen and (max-width: $md) {
          height: 432px;
          max-width: 300px;
          width: 100%;
        }
        .accommodation-text {
          max-width: 776x;
          width: 100%;
          font-size: 16px;
          font-weight: 400;
          color: rgba(0, 0, 0, 1);
          text-align: center;
          line-height: 24px;
          margin: auto;
          @media screen and (max-width: $md) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
