@font-face {
  font-family: "BrandonText";
  src: url("./webfonts/369916_2_0.eot");
  src: url("./webfonts/369916_2_0.eot?#iefix") format("embedded-opentype"),
    url("./webfonts/369916_2_0.woff2") format("woff2"),
    url("./webfonts/369916_2_0.woff") format("woff"),
    url("./webfonts/369916_2_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "BrandonText";
  src: url("./webfonts/369916_3_0.eot");
  src: url("./webfonts/369916_3_0.eot?#iefix") format("embedded-opentype"),
    url("./webfonts/369916_3_0.woff2") format("woff2"),
    url("./webfonts/369916_3_0.woff") format("woff"),
    url("./webfonts/369916_3_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "BrandonText";
  src: url("./webfonts/369916_1_0.eot");
  src: url("./webfonts/369916_1_0.eot?#iefix") format("embedded-opentype"),
    url("./webfonts/369916_1_0.woff2") format("woff2"),
    url("./webfonts/369916_1_0.woff") format("woff"),
    url("./webfonts/369916_1_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "BrandonText";
  src: url("./webfonts/369916_0_0.eot");
  src: url("./webfonts/369916_0_0.eot?#iefix") format("embedded-opentype"),
    url("./webfonts/369916_0_0.woff2") format("woff2"),
    url("./webfonts/369916_0_0.woff") format("woff"),
    url("./webfonts/369916_0_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
