@import "../../shared_styles/variables.scss";

.AccommodationBanner {
  display: grid;
  background-image: url("https://a.storyblok.com/f/185167/2000x1200/c4e58d0ef9/concrete-background.jpeg");

  &__BannerTitle {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }

  &__BannerItems {
    display: flex;
    justify-content: space-between;

    &__BannerItem {
      width: 100%;
      text-align: center;
      padding: 20px;

      h3 {
        font-size: 3em;
        font-weight: 700;
        white-space: nowrap;
      }

      &__spacer {
        height: 3px;
        width: 100px;
        margin: 20px auto;
        background-color: $green;
        border-radius: 8px;
      }
    }
  }
}
