@import "../../shared_styles/variables.scss";

.ui-dropdown-search {
  &.dropdown-container {
    padding: 5px;
    cursor: pointer;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.4);
    text-align: left;
    width: 557px;
    height: 69px;
    border: 0 solid rgba(242, 242, 242, 1);
    border-radius: 6px;
  }
  &.scholarships-title {
    height: auto;
    max-width: 594px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 32px;
  }
}
