@import "../../shared_styles/variables.scss";

.ui-dropdown-search {
  &.dropdown-container {
    padding: 5px;
    cursor: pointer;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.4);
    text-align: left;
    border: 0 solid rgba(242, 242, 242, 1);
    border-radius: 6px;
  }
  &.scholarships-title {
    height: 32px;
    max-width: 594px;
    width: 100%;
    font-size: 24px;
    font-weight: $weight-medium;
    color: $black;
    line-height: 32px;
    @media screen and (max-width: $sm) {
      font-size: 16px;
      max-width: 300px;
      width: 100%;
      line-height: 24px;
      height: 48px;
    }
  }
}
