@import "../shared_styles/variables.scss";

.select {
  .select-label {
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    max-width: 400px;
    .select-label--title {
      padding: 10px;
      border-right: 2px solid $blue;
    }
  }
  .select-list {
    align-items: center;
    height: 100%;
    padding: 10px;
    border-radius: 0 7px 7px 0;
    &:focus {
      outline: solid 2px $blue;
    }
  }
}

.simple-select {
  width: 100%;
  .select-label {
    .select-label--title {
      display: block;
      font-weight: bold;
    }
  }
  select {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 15px;
    border-radius: 7px;
    border: 2px solid;
    &:focus {
      outline: solid 2px $blue;
    }
  }
}
