@import "../shared_styles/variables.scss";

dl {
  div {
    dt {
      font-family: "BrandonText";
      font-weight: 400;
      padding-top: 16px;
      margin-bottom: 4px;
      &.bold {
        font-weight: $weight-bold;
      }
    }
    dd {
      font-weight: 400;
      padding-bottom: 16px;
      border-bottom: $lightGrey 1px solid;
      margin-left: 0;
      margin-bottom: 0;
      &.bold {
        font-weight: $weight-bold;
      }
    }
  }
}

.list {

  &--listitem {
    padding: 0px 20px;
  }

  &--horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &--none {
    list-style: none;
  }
}