@import "../App.scss";

dl {
    div {
        dt {
            padding-top: 16px;
            margin-bottom: 4px;
        }
        dd {
            font-family: "BrandonText-Bold";
            padding-bottom: 16px;
            border-bottom: $lightGrey 1px solid;
            margin-left: 0;
        }
    }
}
