@import "../../shared_styles/variables.scss";

.dropdown {
  justify-content: center;
  align-items: center;
  .ui-dropdown-search {
    display: flex;
    &.dropdown-container {
      padding: 5px;
      cursor: pointer;
      line-height: 32px;
      color: $black;
      text-align: left;
      border: 0 solid $white;
      border-radius: 6px;
      max-width: 557px;
    }
    &.scholarships-title {
      height: auto;
      max-width: 594px;
      width: 100%;
      font-size: 24px;
      font-weight: 400;
      color: $black;
      line-height: 32px;
      @media screen and (max-width: $sm) {
        line-height: 24px;
        font-size: 16px;
      }
    }
  }
  .dropdown-items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 1196px;
    width: 100%;
    @media screen and (max-width: $sm) {
      flex-direction: column;
    }
  }
  .dropdown-item {
    max-width: 1196px;
    width: 100%;
  }
  .button-container {
    max-width: 1196px;
    text-align: center;
    margin-top: 24px;
  }
  .update-button {
    color: $white;
    background-color: $pink;
    text-transform: uppercase;
    height: 39px;
    width: 214px;
    padding: 0px;
  }
  .warning-text-container {
    max-width: 1196px;
    text-align: center;
    margin-top: 104px;
    font-size: 24px;
    color: $lightGrey;
    font-weight: 900;
    line-height: 32px;
  }
}
