@import "../shared_styles/variables.scss";

.sidebar {
  nav {
    background: $gray;
    ul {
      li {
        overflow: hidden;
        padding: 16px;
        position: relative;
        margin: 2px 0;
        &:after {
          content: "";
          width: 2px;
          height: 100%;
          position: absolute;
          left: 0;
          top: -100%;
          background: $pink;
          transition: 0.5s;
        }
        &:hover {
          &:after {
            top: 0;
          }
        }
        a {
          font-weight: $weight-black;
          color: white;
          text-decoration: none;
        }
      }
      @media screen and(max-width:$md) {
        display: none;
        &.open {
          display: block;
        }
      }
    }
    button {
      &.toggle-menu {
        background: none;
        outline: none;
        display: none;
        color: white;
        padding: 0;
        align-items: center;
        @media screen and(max-width:$md) {
          display: flex;
        }
        &:hover {
          border: $pink solid 2px;
        }
        &:focus {
          border: $pink 2px solid;
        }
        svg {
          width: 30px;
          height: 30px;
          padding: 5px;
        }
        span {
          margin-right: 5px;
        }
      }
    }
  }
}
