@import "../shared_styles/variables.scss";
.header-container {
  width: 100%;
  position: relative;
  z-index: 98;
  &--dark {
    background: $black;
    svg {
      path {
        fill: white;
      }
      polygon {
        fill: white;
      }
    }
    button {
      color: white;
    }
  }
  &--light {
    background: white;
  }
  &--transparent {
    background: transparent;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    padding: 35px 15px 31px;
    margin: 0 auto;
    .uea-logo {
      svg {
        max-width: 200px;
        @media screen and (min-width: 768px) {
          max-width: 270px;
        }
      }
    }
  }
}
