@import "../App.scss";
.header-container {
  width: 1600px;
  max-width: 100%;
  &--dark {
    background: $black;
    svg {
      path {
        fill: white;
      }
      polygon {
        fill: white;
      }
    }
    button {
      color: white;
    }
  }
  &--light {
    background: white;
  }
  &--transparent {
    background: transparent;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}
