.video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  > div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
