@import "../shared_styles/variables.scss";

.icons {
  display: flex;
  flex-wrap: wrap;

  .icons-set {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    padding: 20px;

    .icons-display {
      height: 60px;
      padding: 30px;
    }

    p {
      position: absolute;
      bottom: 0;
    }
  }
}