@import "../shared_styles/variables.scss";

.accordion {
  min-width: 320px;
  .accordion--header {
    width: 100%;
    background: #ffffff;
    padding: 16px;
    font-weight: $weight-bold;
    border: none;
    border-bottom: 2px solid $blue;
    border-radius: 0;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: none;
    &:after {
      content: "";
      height: 7px;
      width: 7px;
      border-top: 2px solid $black;
      border-right: 2px solid $black;
      transform: rotate(135deg);
      position: absolute;
      right: 16px;
    }
    &-open {
      background: $blue;
      color: $black;
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  .accordion--panel {
    display: none;
    &-open {
      padding: 16px;
      display: block;
    }
  }
  .accordion {
    margin: -16px;
  }
}
