@import "../App.scss";

.accordion {
    .accordion--header {
        padding: 16px;
        font-family: "BrandonText-Bold";
        border-bottom: 2px solid $blue;
        position: relative;
        display: flex;
        align-items: center;
        &:after {
            content: "";
            height: 7px;
            width: 7px;
            border-top: 2px solid $black;
            border-right: 2px solid $black;
            transform: rotate(135deg);
            position: absolute;
            right: 16px;
        }
        &-open {
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
    .accordion--panel {
        display: none;
        &-open {
            padding: 16px;
            display: block;
        }
    }
}
